/* 노멀라이징 */
* {
    padding: 0;
    margin: 0;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  
  ul,
  li {
    list-style: none;
  }
  
  /*라이브러리*/
  .cell {
    float: left;
  }
  .cell-r{
    float: right;
  }
  .row::after {
    clear: both;
    content: "";
    display: block;
  }
  
  ul, li{
    margin: 0;
    padding: 0;
}
  .con{
    width : 980px;
    margin : 0 auto; 
  }
  /* 스타일 */

.header-wrap{
    width: 100%;
}

.header-top{
  position: relative;
  width: 980px;
  height: 110px;
  /* background-color: skyblue; */
  margin: 0 auto;
  box-sizing: border-box;
}
.header-top >.header-menu{
  width: 980px;
  height: 58px;
  box-sizing: border-box;
  padding-top: 20px;
}
.header-top >.header-menu > .logo-box{
  width: 128px;
  height: 32px;
  vertical-align: bottom;
  padding-top: 7px;
}
.header-top >.header-menu> .i-menu{
  margin-left: 15px;
}
.header-top >.header-menu> .i-menu > li{
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 5px;
  font-size: 16px;
  /* font-weight: bold; */
  font-family: 'Noto Sans KR', sans-serif;
}
.header-top >.header-menu> .i-menu > li > .ip{
}
.header-top >.header-menu> .i-menu > li > .ip > li {
  width: 56px;
  height: 26px;
  /* background-color: #ddd; */
  text-align: center;
  line-height: 26px;
  cursor: pointer;
}
.header-top >.header-menu> .i-menu > li > .ip > .no1{
  background-color: blue;
  color: white;
  border : 2px solid #ddd;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
}
.header-top >.header-menu> .i-menu > li > .ip > .no2{
  border : 2px solid #ddd;
  border-top-right-radius: 25%;
  color: gray;
  border-left: 1px solid white;
}
.header-wrap > .header-top >.header-menu> .i-menu > li > .ic > li {
  margin-right: 10px;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  line-height: 33px;
  padding-right: 10px;
  padding-left: 10px;
}
.global-menu{
    position: absolute;
    right: 150px;
    width: 161px;
    height: 32px;
    border: 1px solid #bbb;
    z-index: 30;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;
    background-color: #f8f8f8;
}
.global-menu > li > ul{
  display: none;
  width: 161px;
  height: 217px;
  background-color: #f8f8f8;
  box-sizing: border-box;
  padding: 20px 50px;
  position: absolute;
  border: 1px solid #bbb;
  top : 31px;
  left: -0;
}
.global-menu > li > a{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 119px;
  font-size: 13px;
  color: #3b4147;
  cursor: pointer;
  padding: 5px 0px 4px 20px;
  padding-right: 20px;
  text-decoration: none;
  background-color: #f8f8f8;
}
.global-menu.active > li > ul{
  display: block;
}
.global-menu.active > li > ul > li{
  font-size: 12px;
}
.global-menu > li > ul > li:hover{
  text-decoration :underline;
}
.icon{
  position: absolute;
  right: 10px;
  margin-left: -20px;
  margin-top: 5px;
}
.icon > li{
  margin: 0 10px 0 10px;
}
.header-top > .header-login{
  height: 41px;
  padding-top: 9px;
  box-sizing: border-box;
}
.header-top > .header-login > .log-in-box{
  width: 153px;
  height: 26px;
  background-color: #ddd;
  font-size: 13px;
  box-sizing: border-box;
  text-align: center;
  line-height: 26px;
  border: 1px solid #bbb;
  color: #555555;
  background-color: #f8f8f8;
  
  font-family: 'Noto Sans KR', sans-serif;
}
.header-top > .header-login > .log-in-box > li{
  width: 50%;
  height: 26px;
  box-sizing: border-box;

}
.header-top > .header-login > .menu > li > a{
  margin-right: 15px;
  color : #666666;
  font-family: 'Noto Sans KR', sans-serif;
}
.header-nav-wrap{
  width: 100%;
  height: 52px;
  border-top : 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.header-nav-wrap > .header-nav{
  height: 52px;
  line-height: 52px;
  
}
.header-nav-wrap > .header-nav > li{
  padding-right: 88px;
  height: 52px;
  color : #111111;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 17px;
}

.header-nav-wrap > .header-nav > li:nth-child(7){
  padding-right: 0;
}
.header-nav-wrap > .header-nav > li:nth-child(8){
  padding-right: 0;
  margin-right: 0;
}
.big-bg{
  width: 100%;
  background-color: #ddd;
}
.big-bg > .main-content{
  width: 100%;
  height: 600px;
  background-color: #d3e8ff;
  position: relative;
}
.big-bg > .main-content > .bg-blue{
  width: 50%;
  height: 600px;
  background-color: #e5f2ff;
}
.big-bg > .main-content > .content-main-img-box{
  position: absolute;
  top : 15%;
  left: 10%;

}

.slider-wrap{
}
.slider-wrap > .slider{
  position: absolute;
  top : 10%;
  right: 19%;
  width: 628px;
  height: 350px;
  box-shadow: 0 20px 40px #a0a0a0;
}
.slider-wrap > .slider  .content{
  width: 100%;
}
.slider-wrap > .slider > .slick-prev {
  left: 0;
}
.slider-wrap > .slider > .slick-next{
  left : 0;
}
.slider-wrap > .slider-btn-wrap{
  width: 300px;
  height: 300px;
  background-color: yellow;
}
.slider-wrap > .slider-btn-wrap > .slider-btn{
  display: flex;
  justify-content: center;
}
.slider-wrap > .slider-btn-wrap > .slider-btn > .dots{
  width: 50px;
  height: 16px;
  display: flex;
}
.slider-wrap > .slider-btn-wrap > .slider-btn > .dots > .dot{
  width: 12px;
  height: 8px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}
.slider-wrap > .slider-btn-wrap > .slider-btn > .dots > .dot.active{
  width: 30px;
}
.dot1{
  background-color: blue;
}
.dot2{
  background-color: red;
}
.state-btn > .play{
  width: 23px;
  height: 18px;
  background-color: green;
}

.btn-top{
  width: 75px;
  height: 75px;
  position: fixed;
  top : 65%;
  right: 100px;
}
.btn-sp {
  width: 80px;
  height: 80px;
  background-color: white;
  position: fixed;
  top : 75%;
  right: 102px;
  box-shadow: 10px 5px 8px #ddd;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
  line-height: 90px;
  font-size: 14px;
}