/* 노멀라이징 */
* {
    padding: 0;
    margin: 0;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  
  ul,
  li {
    list-style: none;
  }
  
  /*라이브러리*/
  .cell {
    float: left;
  }
  .cell-r{
    float: right;
  }
  .row::after {
    clear: both;
    content: "";
    display: block;
  }
  
  ul, li{
    margin: 0;
    padding: 0;
}
  .con{
    width : 1100px;
    margin : 0 auto; 
  }
  /* 스타일 */

.header-wrap{
    width: 100%;
    background-color: skyblue;
}

.header-top{
  width: 980px;
  height: 110px;
  background-color: white;
  margin: 0 auto;
  padding-top: 10px;
  box-sizing: border-box;
}
.header-nav{
  width: 100%;
  height: 52px;
  background-color: salmon;
}
.global-menu{
    position: relative;
    right: 200px;
    margin-right: 24px;
    width: 159px;
    height: 32px;
    border: 1px solid #bbb;
    z-index: 30;
}
.global-menu > li > ul{
  display: none;
}
.icon{
  position: relative;
  left: 150px;
}
.icon > li{
  margin: 0 5px 0 5px;
}